[uwsgi]
procname-prefix-spaced=/fcgis/%c

chdir = %d
worker-exec=/usr/lib/cgi-bin/qgis_mapserv.fcgi

# must not create the socket in ondemand mode
# socket = %d/uwsgi.sock

workers = {{ qgisserver_workers }}
threads = {{ qgisserver_threads }}
max-requests = 1000

# no workers on startup
cheap
idle = {{ qgisserver_idle }}
die-on-idle = true

# logging
logto = %d/log.log
log-date = true
logfile-chown = true
# env = QGIS_SERVER_LOG_LEVEL=1
env = QGIS_SERVER_LOG_FILE=/data/fcgis/giscube_qgisserver/qgisserver.log
env = QGIS_AUTH_DB_DIR_PATH=/var/www

# system
uid = {{ qgisserver_owner }}
gid = {{ qgisserver_group }}
buffer-size = 32768
master = true
chmod = 660
auto-procname = true
no-orphans = true
die-on-term = true
