[uwsgi]
procname-prefix-spaced=/fcgis/%c

chdir = %d
cgi = /=/usr/lib/cgi-bin/qgis_mapserv.fcgi
cgi-buffer-size = 32768

# must not create the socket in ondemand mode
# socket = %d/uwsgi.sock

workers = {{ qgisserver_workers }}
threads = {{ qgisserver_threads }}
max-requests = 1000

cheap
idle = 60
die-on-idle = true

# logging
logto = %d/log.log
log-date = true
logfile-chown = true
env = QGIS_DEBUG=1
env = QGIS_LOG_FILE=%d/qgisserver.log
env = QGIS_AUTH_DB_DIR_PATH=/var/www

# system
uid = {{ qgisserver_owner }}
gid = {{ qgisserver_group }}
buffer-size = 32768
master = true
chmod = 660
reload-os-env = true
auto-procname = true
no-orphans = true
die-on-term = true
